@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500;1,700&display=swap");


:root {
  --primary-color: 0, 51, 102;   
  --input-error-color: #dc143c;
  --bg-border-color: #000;
  --form-container-bg-color: #ffffff;
  --bg-input-border-color: #ccc; 
  --input-bg-disable-color: #f2f2f2;
  --input-border-color: #0056b3;
  --input-box-shadow: #0056b34d;
  --outer-section-bg-color: #ffffff;
  --outer-section-color:  #ffffffb3;
  --outer-section-border-color: #707070;
  --inner-section-bg-color: #ffffff;
  --btn-bg-disable-color: #808080;
  --btn-bg-enable-color: #003366; 
  --btn-bg-color: #ffffff;
}

* {
  box-sizing: border-box;
  color: rgb(var(--primary-color));
  font-family: Roboto;
  transition: all 0.15s ease-in-out;
}

.OPT2A {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-inline: 1rem;
  max-width: 90rem;
  overflow: hidden;
}

div {
  display: flex;
  flex-direction: inherit;
}

section {
  display: flex;
  width: 100%;
}

.outer__section {
  width: 100%;
  padding: 4rem 2rem 2rem 2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--outer-section-color);
  border: .0625rem solid var(--outer-section-border-color);
  border-radius: 1.75rem 1.75rem;
  position: relative;
}

.hashtag {
  position: absolute;
  top: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1rem;
  background-color: rgb(var(--primary-color));
  border-radius: 1rem;
}

.hashtag span {
  font-size: 2.5rem;
  font-weight: bold;
  font-style: italic;
  color: rgb(var(--secondary-color));
}

.avatar {
  position: absolute;
  width: var(--avatar);
  aspect-ratio: 1/1.2;
  left: -3rem;
  bottom: -0.5rem;
  z-index: 3;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inner__section {
  flex-direction: column;
  background: var(--form-container-bg-color) 0% 0% no-repeat padding-box;
  border-radius: 1.25rem;
  padding: 1rem 2rem;
}

.inner {
  height: 100%;
  gap: 2rem;
}

/* Form Container */
.form-container {
  width: 29.0625rem;
  height: 100%;
  margin: 0rem auto;
  background: var(--form-container-bg-color);
  border-radius: .5rem;
  padding: 1.25rem;
  border: var(--bg-border-color);
}

/* Labels and Inputs */
label {
  display: block;
  font-size: .875rem;
  font-weight: bold;
  margin-bottom: .3125rem;
  color: var(--text-color);
}

.input {
  display: block;
  width: 17.5rem; 
  height: 1.6875rem;
  padding: .5rem .625rem;
  font-size: .875rem;
  border: .0625rem solid var(--bg-input-border-color);
  border-radius: .25rem;
  box-sizing: border-box;
  margin-bottom: .9375rem; 
}


input:disabled,
.grayed-out {
  background-color: var(--input-bg-disable-color); 
  color: var(--bg-input-border-color); 
  cursor: not-allowed; 
}

input[type="text"]:focus,
input[type="email"]:focus {
  outline: none;
  border-color: var(--input-border-color);
  
}

/* Checkbox Group */
.checkbox-group {
  display: flex;
  align-items: center;
  gap: .625rem;
  margin-bottom: .9375rem; 
}

input[type="checkbox"] {
  width: 1.375rem;
  height: 1.375rem;
  cursor: pointer;
}

label[for="stayAnonymous"] {
  font-size: .875rem;
  font-weight: normal;
  color: var(--text-color);
}

label.error {
  font-weight: initial;
  font-size: 0.75rem;
  color: var(--input-error-color);
}

/* Donate Button */
button:disabled {
  opacity: 0.7;
  pointer-events: none;
  background-color: var(--btn-bg-disable-color);
}
.btn-donate {
  width: 9.5625rem;
  height: 2.5625rem;
  background-color: var(--btn-bg-enable-color);
  color: var(--btn-bg-color);
  border: none;
  padding: .625rem .9375rem;
  font-size: .875rem;
  font-weight: bold;
  border-radius: 1rem;
  cursor: pointer;
  margin-left: 9.5rem;
}

.body {
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  gap: 2rem;
}

.section__details {
  flex-direction: column;
  padding-inline: calc(var(--avatar) - 10vw) 1rem;
  gap: 0.5rem;
}

.section__details .title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.25;
  max-width: 20ch;
}

.section__details .description {
  font-size: 1.25rem;
  max-width: 50ch;
}

.section__details .author {
  align-items: flex-start;
  margin-top: 1rem;
}

.section__details .author .name {
  font-weight: bold;
  border-bottom: .125rem solid rgb(var(--primary-color));
}

.footer {
  flex-direction: row;
  justify-content: flex-end;
  gap: 1.5rem;
  margin-top: -2rem;
}

.footer span {
  font-size: 1rem;
  font-style: italic;
}

.footer .logos {
  flex-direction: row;
  gap: 2rem;
}

.footer img {
  width: 10rem;
  object-fit: contain;
  height: 100%;
}

/*Media Query: 320px start */
@media (min-width: 320px) {
  .OPT2A {
    padding-inline: 0.5rem;
    gap: 1rem;
  }

  .outer__section {
    /* padding: 2rem 1rem 1rem 1rem; */
    padding: 0;
    border-radius: 1.5rem;
    background-color: var(--outer-section-bg-color);
  }

  .hashtag {
    position: absolute;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 1rem;
    background-color: rgb(var(--primary-color));
    border-radius: 1rem;
  }

  .hashtag span {
    font-size: clamp(1.5rem, 1.1429rem + 1.7857vw, 2rem);;
  }

  .avatar {
    left: 0%;
    bottom: clamp(21rem, 22rem - 1vw, 22rem); 
    width: clamp(40%, 48%, 50%);
    aspect-ratio: 1 / 1.5;
    z-index: 2;
}
  
  .inner__section {
    padding: 2rem 1rem;
    background: none;
  }

  .inner {
    gap: 1rem;
  }

  .form-container {
    width: 100%; 
    padding: .9375rem;
    border: .0625rem solid var(--bg-border-color);
    border-radius: 1rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    font-size: .75rem;
  } 
  .input{
    width: 100%;
    font-size: .75rem;
  }

  .btn-donate {
    width: 45%;
    margin-left: 8rem;
    font-size: .75rem;
    height: 2.1875rem;
  }

  .body {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .section__details {
    padding-inline: 0.5rem;
    gap: 0.25rem;
  }

  .section__details .title {
    font-size: clamp(1.5rem, 1.1429rem + 1.7857vw, 2rem);
    max-width: clamp(18ch, calc(16.4ch + 4.71vw), 20ch);
    text-align: center;
    margin-bottom: 2rem;
  }

  .section__details .description {
    font-size: clamp(0.7rem, 0.3071rem + 1.9643vw, 1.25rem);
    max-width: clamp(27ch, 5.625ch + 12.5vw, 50ch);
    margin-right: clamp(-1.75rem, -1rem + 6.25vw, -2.5rem);
    align-self: flex-end;
  }

  .section__details .author {
    margin-top: 0.5rem;
    margin-left: clamp(7.1rem, 4rem + 5vw, 8rem);;
    font-size: clamp(0.75rem, 0.5714rem + 0.8929vw, 1rem);
  }

  .section__details .author .name {
    font-weight: bold;
    border-bottom: .125rem solid rgb(var(--primary-color));
  }

  .footer {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0;
    margin-right: clamp(1rem, 1rem + 1vw, 2rem);
  }

  .footer span {
    font-size: clamp(0.75rem, 0.5714rem + 0.8929vw, 1rem);
  }

  .footer .logos {
    flex-direction: row-reverse;
    gap: 0.5rem;
  }

  .footer .logos img:nth-of-type(1){
    margin-top: 0.25rem;
  }

  .footer img {
    width: clamp(5rem, 10vw, 7rem);
  }
}

/*Media Query: 425ppx start */
@media (min-width: 425px) {
  .outer__section {
    /* padding: 2rem 1rem 1rem 1rem; */
    padding: 0;
    border-radius: 1.5rem;
    background-color: var(--outer-section-bg-color);
  }

  .hashtag span {
    font-size: clamp(1.5rem, 1.1429rem + 1.7857vw, 2rem);;
  }

  .avatar {
    left: 0%;
    bottom: clamp(17rem, calc(17rem + 5.333vw), 21rem);
    width: clamp(15rem, 12.5219rem + 9.3294vw, 17rem);
    aspect-ratio: 1/1.5;
    z-index: 2;
  }
 
  .inner__section {
    padding: 2rem 1rem;
    background: none;
  }

  .inner {
    gap: 1rem;
  }

  .form-container {
  width: clamp(24rem, -2.0204rem + 97.9592vw, 45rem);
  padding: clamp(0.75rem, 1.5vw, 1rem);
  margin-top: clamp(2rem, 3vw, 3rem); 
  border-radius: clamp(.75rem, 2vw, 1.875rem);  
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    font-size: .75rem;
  } 

  .input{
    width: 100%;
    font-size: .75rem;
  }

  .btn-donate {
    width: 40%;
    margin-left: 12rem;
    font-size: .75rem;
    height: 2.1875rem;
  }

  .body {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .section__details {
    padding-inline: 0.5rem;
    gap: 0.25rem;
  }

  .section__details .title {
    font-size: clamp(1.5rem, 1.1429rem + 1.7857vw, 2rem);
    max-width: clamp(23ch, calc(16.4ch + 4.71vw), 24ch);
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 1rem;
  }

  .section__details .description {
    font-size: clamp(0.7rem, 0.3071rem + 1.9643vw, 1.25rem);
    max-width: clamp(26ch, calc(10ch + 5vw), 23ch);
    margin-right: clamp(-0.75rem, -1rem + 6.25vw, -2.5rem);
    align-self: flex-end;
  }

  .section__details .author {
    margin-top: 0.5rem;
    margin-left: clamp(10rem, 5rem + 5vw, 10.5rem);;
    font-size: clamp(0.75rem, 0.5714rem + 0.8929vw, 1rem);
  }

  .section__details .author .name {
    font-weight: bold;
    border-bottom: .125rem solid rgb(var(--primary-color));
  }

  .footer {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0;
    align-self: center;
    /* margin-right: clamp(3.5rem, 1rem + 1vw, 5rem); */
  }

  .footer span {
    font-size: 0.65rem;
    font-size: clamp(0.75rem, 0.5714rem + 0.8929vw, 1rem);
  }

  .footer .logos {
    flex-direction: row-reverse;
    gap: 0.5rem;
  }

  .footer .logos img:nth-of-type(1){
    margin-top: 0.25rem;
  }

  .footer img {
    width: clamp(5rem, 10vw, 7rem);
  }
}

/*Media Query: 768px start */
@media (min-width: 768px) {
   /* Form Container */
   .form-container {
    width: 42rem;
    display: block;
    margin: 0 auto; 
    background: var(--form-container-bg-color);
    border-radius: 2rem;
    padding: 1.25rem;
    border: .0625rem solid var(--bg-border-color);
    margin-bottom: 1rem;
  }
  
  /* Labels and Inputs */
  label {
    display: block;
    font-size: .875rem;
    font-weight: bold;
    margin-bottom: .3125rem;
    color: var(--text-color);
  }
  
  .input{
    width: 100%;
    font-size: .75rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    display: block;
    font-size: .75rem;
  } 

  .input:disabled,
  .grayed-out {
    background-color: var(--input-bg-disable-color); 
    color: var(--bg-input-border-color);
    cursor: not-allowed; 
  }
  
  .input[type="text"]:focus,
  .input[type="email"]:focus,
  .input[type="tel"]:focus {
    outline: none;
    border-color: var(--input-border-color);
    box-shadow: 0 0 .25rem var(--input-box-shadow);
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
    gap: .625rem;
    margin-bottom: .9375rem;
  }
  
  .checkbox-group input[type="checkbox"] {
    width: 1.375rem;
    height: 1.375rem;
    cursor: pointer;
  }
  
  .checkbox-group label {
    font-size: .875rem;
    font-weight: normal;
    color: var(--text-color);
  }
  
  .label.error {
    font-weight: initial;
    font-size: 0.75rem;
    color: var(--input-error-color);
  }
  
  /* Donate Button */
  button:disabled {
    opacity: 0.7;
    pointer-events: none;
    background-color: var(--btn-bg-disable-color);
  }
  
  .btn-donate {
    width: 9.5625rem;
    height: 2.5625rem;
    background-color: var(--btn-bg-enable-color);
    color: var(--btn-bg-color);
    border: none;
    padding: .625rem .9375rem;
    font-size: .875rem;
    font-weight: bold;
    border-radius: 1rem;
    cursor: pointer;
    margin-left: 1rem;
  }
  
  .outer__section {
    width: 100%;
    padding: 4rem 2rem 2rem 2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--outer-section-color);
  }
  
  .hashtag {
    position: absolute;
    top: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 1rem;
    background-color: rgb(var(--primary-color));
    border-radius: 1rem;
  }
  
  .hashtag span {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    color: rgb(var(--secondary-color));
  }
  
  .avatar {
    position: absolute;
    /* width: var(--avatar); */
    width: 37%;
    height: 81%;
    aspect-ratio: 1/1.2;
    left: -1.9rem;
    bottom: 2rem;
    z-index: 3;
  }
  
  
  .inner__section {
    flex-direction: column;
    width: 100%;
    background: var(--inner-section-bg-color) 0% 0% no-repeat padding-box;
    border-radius: 1.25rem;
    padding: 1rem 2rem;
    display: flex;
  }
  
  .inner {
    height: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: column; 
  }
  
  .body {
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    gap: 2rem;
  }
  
  .section__details {
    flex-direction: column;
    /* padding-inline: calc(var(--avatar) - 10vw) 1rem; */
    padding-left: 17rem;
    gap: 0.5rem;
  }
  
  .section__details .title {
    font-size: clamp(1.75rem, calc(1.5rem + 0.667vw), 2rem);
    max-width: clamp(26ch, 30ch, 37ch);
    margin-left: clamp(-9rem, -5rem, -2rem);
    margin-right: auto;
    margin-bottom: 0rem;
    margin-top: -2rem;
  }
  
  .section__details .description {
     margin-right: auto;
     margin-left: 1rem;
     max-width: clamp(33ch, 35ch, 37ch);
     margin-left: clamp(-6.5rem, -4.5rem, -3rem);
     font-size: 0.875rem;
  }

  .section__details .author {
    margin-top: 0.5rem;
    /* margin-left: clamp(7.1rem, 4rem + 5vw, 8rem); */
    margin-left: clamp(-6.5rem, -5rem, -3.5rem);

    margin-bottom: 1rem;
    font-size: clamp(0.75rem, 0.5714rem + 0.8929vw, 1rem);
  }

  .section__details .author .name {
    font-size: 0.875rem;
    border-bottom: .125rem solid rgb(var(--primary-color));
  }

  .section__details .author span {
    font-size: clamp(0.75rem, calc(0.5rem + 0.667vw), 1rem);
    margin-left: 0.5rem;
  }
 
  .footer {
    flex-direction: row;
    justify-content: flex-end;
    gap: 1.5rem;
    margin-top: -2rem;
    margin-right: clamp(-16.5rem, -17.5rem, -18.5rem);
  }
  
  .footer span {
    font-size: 0.75rem;
    font-style: italic;
  }
  
  .footer .logos {
    flex-direction: row-reverse;
    gap: 0.5rem;
  }
}

/*Media Query: 1024px start */
@media (min-width: 1024px) {
   /* Form Container */
   .form-container {
    width: 100%;
    height: auto;
    margin: 0 auto; 
    background: var(--form-container-bg-color);
    border-radius: 2rem;
    padding: 1.25rem;
    border: .0625rem solid var(--bg-border-color);
    margin-bottom: 1rem;
  }
  
  /* Labels and Inputs */
  label {
    display: block;
    font-size: .875rem;
    font-weight: bold;
    margin-bottom: .3125rem;
    color: var(--text-color);
  }
  
  .input{
    width: 100%;
    font-size: .75rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    font-size: .75rem;
  } 

  .input:disabled,
  .grayed-out {
    background-color: var(--input-bg-disable-color); 
    color: var(--bg-input-border-color);
    cursor: not-allowed; 
  }
  
  .input[type="text"]:focus,
  .input[type="email"]:focus,
  .input[type="tel"]:focus {
    outline: none;
    border-color: var(--input-border-color);
    box-shadow: 0 0 .25rem var(--input-box-shadow);
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
    gap: .625rem;
    margin-bottom: .9375rem; 
  }
  
  .checkbox-group input[type="checkbox"] {
    width: 1.375rem;
    height: 1.375rem;
    cursor: pointer;
  }
  
  .checkbox-group label {
    font-size: .875rem;
    font-weight: normal;
    color: var(--text-color);
  }
  
  .label.error {
    font-weight: initial;
    font-size: 0.75rem;
    color: var(--input-error-color);
  }

  .btn-donate { 
    width: 14%;
    height: 2.5625rem;
    background-color: var(--btn-bg-enable-color);
    color: var(--btn-bg-color);
    border: none;
    padding: .625rem .9375rem;
    font-size: .875rem;
    font-weight: bold;
    border-radius: 1rem;
    cursor: pointer;
    margin-left: 8.5rem;
    position: fixed; 
    margin-top: -2rem;
  }
  
  /* Donate Button */
  button:disabled {
    opacity: 0.7;
    pointer-events: none;
    background-color: var(--btn-bg-disable-color);
  }

  .outer__section {
    width: 100%;
    padding: 4rem 2rem 2rem 2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--outer-section-color);
  }
  
  .hashtag {
    position: absolute;
    top: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 1rem;
    background-color: rgb(var(--primary-color));
    border-radius: 1rem;
  }
  
  .hashtag span {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
    color: rgb(var(--secondary-color));
  }
  
  .avatar {
    position: absolute;
    /* width: var(--avatar); */
    width: 34%;
    height: 91%;
    aspect-ratio: 1/1.2;
    left: -2rem;
    bottom: 1.5rem;
    z-index: 3;
  }
  
  
  .inner__section {
    flex-direction: column;
    width: 100%;
    background: var(--inner-section-bg-color) 0% 0% no-repeat padding-box;
    border-radius: 1.25rem;
    padding: 1rem 2rem;
    display: flex;
  }
  
  .inner {
    height: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: column; 
  }
  
  .body {
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    gap: 2rem;
  }
  
  .section__details {
    flex-direction: column;
    /* padding-inline: calc(var(--avatar) - 10vw) 1rem; */
    padding-left: 16rem;
    gap: 0.5rem;
  }
  
  .section__details .title {
    font-size: 2rem;
    margin-left: -3rem;
    margin-right: auto;
    margin-top: -1rem;
    margin-bottom: 2rem; 
  }
  
  .section__details .description {
    margin-right: auto;
    margin-left: -2rem;
    max-width: 52ch;
    font-size: 1rem;
    margin-top: 0; 
  }
  
  .section__details .author {
    margin-top: 0.5rem;
    /* margin-left: clamp(-1.5rem, 4rem + 5vw, 8rem); */
    margin-left: -2.5rem;
    margin-bottom: 1rem;
    font-size: clamp(0.75rem, 0.5714rem + 0.8929vw, 1rem);
  }
  
  .section__details .author .name {
    /* font-weight: bold; */
    border-bottom: .125rem solid rgb(var(--primary-color));
  }

  .footer {
    flex-direction: row;
    justify-content: flex-end;
    gap: 1.5rem;
    margin-top: -2rem;
    margin-right: 3.5rem;
  }
  
  .footer span {
    font-size: 0.75rem;
    font-style: italic;
  }
  
  .footer .logos {
    flex-direction: row-reverse;
    gap: 0.5rem;
  }
}

@media (min-width: 1440px) {
  /* Form Container */
  .form-container {
   width: 43%;
   height: auto;
   margin: 0 auto; 
   background: var(--form-container-bg-color);
   border-radius: 2rem;
   padding: 1.25rem;
   border: .0625rem solid var(--bg-border-color);
   margin-bottom: 1rem;
 }
 
 /* Labels and Inputs */
 label {
   display: block;
   font-size: .875rem;
   font-weight: bold;
   margin-bottom: .3125rem; 
   color: var(--text-color);
 }
 
 .input{
   width: 100%;
   font-size: .75rem;
 }

 input[type="text"],
 input[type="email"],
 input[type="tel"] {
   width: 103%;
   font-size: .75rem;
 } 

 .input:disabled,
 .grayed-out {
   background-color: var(--input-bg-disable-color); 
   color: var(--bg-input-border-color);
   cursor: not-allowed; 
 }
 
 .input[type="text"]:focus,
 .input[type="email"]:focus,
 .input[type="tel"]:focus {
   outline: none;
   border-color: var(--input-border-color);
   box-shadow: 0 0 .25rem var(--input-border-color);
 }
 
 .checkbox-group {
   display: flex;
   align-items: center;
   gap: .625rem;
   margin-bottom: .9375rem;
 }
 
 .checkbox-group input[type="checkbox"] {
   width: 1.375rem;
   height: 1.375rem;
   cursor: pointer;
 }
 
 .checkbox-group label {
   font-size: .875rem;
   font-weight: normal;
   color: var(--text-color);
 }
 
 .label.error {
   font-weight: initial;
   font-size: 0.75rem;
   color: var(--input-error-color);
 }

 .btn-donate {
   width: 9.5625rem;
   height: 2.5625rem;
   background-color: var(--btn-bg-enable-color);
   color: var(--btn-bg-color);
   border: none;
   padding: .625rem .9375rem;
   font-size: .875rem;
   font-weight: bold;
   border-radius: 1rem;
   cursor: pointer;
   margin-left: 15rem;
   margin-right: auto;
   margin-top: -2rem;
 }
 
 /* Donate Button */
 button:disabled {
   opacity: 0.7;
   pointer-events: none;
   background-color: var(--btn-bg-disable-color);
 }

 .outer__section {
   width: 100%;
   padding: 4rem 2rem 2rem 2rem;
   align-items: center;
   justify-content: center;
   background-color: var(--outer-section-color);
 }
 
 .hashtag {
   position: absolute;
   top: -2.5rem;
   left: 50%;
   transform: translateX(-50%);
   padding: 0.5rem 1rem;
   background-color: rgb(var(--primary-color));
   border-radius: 1rem;
 }
 
 .hashtag span {
   font-size: 2.5rem;
   font-weight: bold;
   font-style: italic;
   color: rgb(var(--secondary-color));
 }
 
 .avatar {
   position: absolute;
   width: 36%;
   height: 100%;
   aspect-ratio: 1/1.2;
   left: -2rem;
   bottom: 1.45rem;
   z-index: 3;
 }
 
 
 .inner__section {
   flex-direction: column;
   width: 100%;
   background: var(--inner-section-bg-color) 0% 0% no-repeat padding-box;
   border-radius: 1.25rem;
   padding: 1rem 2rem;
   display: flex;
 }
 
 .inner {
   height: 100%;
   gap: 2rem;
   display: flex;
   flex-direction: column; 
 }
 
 .body {
   flex-direction: row;
   justify-content: flex-end;
   height: 100%;
   gap: 2rem;
 }
 
 .section__details {
   flex-direction: column;
   /* padding-inline: calc(var(--avatar) - 10vw) 1rem; */
   padding-left: 16rem;
   gap: 0.5rem;
 }
 
 .section__details .title {
   font-size: 2.5rem;
   margin-left: 4rem;
   margin-right: auto;
   margin-top: -2rem;
   margin-bottom: 2rem;
 }
 
 .section__details .description {
   margin-right: auto;
   margin-left: 3.5rem;
   max-width: 50ch;
   font-size: 1.25rem;
   margin-top: 0; /
 }
 
 .section__details .author {
     /* margin-left: clamp(7.1rem, 4rem + 5vw, 8rem); */
   margin-top: 0.5rem;
   margin-left: 3.5rem;
   margin-bottom: 1rem;
   font-size: 1.25rem;
 }

 .section__details .author span {
  /* font-size: clamp(0.75rem, 0.625rem + 0.5vw, 1rem); */
  font-size: clamp(0.75rem, calc(0.5rem + 0.667vw), 1rem);
  margin-left: 0.5rem;
}
 
 .section__details .author .name {
   /* font-weight: bold; */
   font-size: 1.25rem;
   border-bottom: .125rem solid rgb(var(--primary-color));
 }

 .footer {
   flex-direction: row;
   justify-content: flex-end;
   gap: 1.5rem;
   margin-top: -2rem;
   margin-right: -24.5rem;
 }

 .footer span {
   font-size: 0.75rem;
   font-style: italic;
 }

 .footer img {
  width: clamp(5rem, 10vw, 7rem);
  width: 10rem;
}

.footer .logos img:nth-of-type(1){
  margin-top: 0.50rem;
}
 
 .footer .logos {
   flex-direction: row-reverse;
   gap: 0.5rem;
 }
}



/* Start style for modal*/
.custom-swal-popup {
  width: 100%;
  padding: 2.25rem 1.5rem 1.5rem 1.5rem;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
  border: .0625rem solid #707070;
  border-radius: 1.75rem 1.75rem;
  position: relative;
  margin: 2rem 2rem 0 2rem;
}

#swal2-html-container {
  padding: 0;
}

.outer__inner__section__swal {
  flex-direction: column;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 1.25rem;
  padding: 3rem 1.5rem 2.5rem;
}

.hashtag__swal {
  position: absolute;
  top: -2.5rem;
  padding: 0.5rem 1rem;
  background-color: rgb(var(--primary-color));
  border-radius: 1rem;
}

.hashtag__swal span {
  font-size: 2.5rem;
  font-weight: bold;
  font-style: italic;
  color: rgb(var(--secondary-color));
}

.body__swal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.qr-section {
  flex-direction: column;
  align-items: center;
}

.qr-section img {
  max-width: 15rem;
  width: 100%;
}

.qr-section h4 {
  font-size: 1.75rem;
  margin: 0;
}

.qr-section p {
  font-size: 1.25rem;
  margin-top: 0.3rem;
}

.instruction-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.instruction-section h4 {
  font-size: 1.75rem;
  padding-bottom: 1.75rem;
  margin: 0;
}

.instruction-section p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.instruction-section .note {
  font-weight: bold;
}

.instruction-section .bank {
  color: #0c87ff;
  font-weight: bold;
}

.custom-swal-button {
  width: 8rem;
  background: #ff4f1a;
  color: white;
  border: none;
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-swal-button:hover {
  background: #d84315;
}

.footer__swal {
  flex-direction: row;
  margin-top: 2rem;
  text-align: center;
  font-size: 0.9rem;
  color: #444;
  gap: 0.5rem;
}

.footer__swal span {
  font-size: 1rem;
  font-style: italic;
  margin-top: 1rem;
  color: #808080;
}

.footer__swal .logos__swal {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.footer__swal .logos__swal img {
  width: 12rem;
  height: 100%;
  object-fit: contain;
}

/* End style for modal*/

/* Start Media Query */
@media screen and (min-width: 768px) {
  .qr-section h4,
  .instruction-section h4 {
    font-size: clamp(1.25rem, 0.6786rem + 1.1905vw, 1.75rem);
  }

  .qr-section p,
  .instruction-section p {
    font-size: clamp(0.75rem, 0.1786rem + 1.1905vw, 1.25rem);
  }

  .hashtag__swal span {
    font-size: clamp(1rem, -0.4286rem + 7.1429vw, 2.2rem);
  }

  .custom-swal-button {
    width: clamp(6rem, 8vw, 8rem);
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    border-radius: clamp(0.5rem, 1vw, 0.75rem);
    padding: 0.3rem 0.7rem;
  }

  .footer__swal .logos__swal img {
    width: clamp(8rem, 10vw, 12rem);
  }

  .footer__swal span {
    font-size: clamp(0.6rem, 0.1429rem + 0.9524vw, 1rem);
  }

  .qr-section img {
    max-width: clamp(11rem, 11vw, 15rem);
  }
}

/* End Media Query */
main {
  &.OPT2A.OPT2B {
    --primary-color: 255, 255, 255;
    --secondary-color: 26, 60, 93;
    max-width: 100%;
    padding: 0;
    section {
      justify-content: center;
      background-color: rgb(var(--secondary-color));

      .outer__section {
        max-width: 1440px;
        padding: 2rem;
        border-radius: 0;
        border: 0;
        background-color: transparent;

        .inner__section {
          width: 100%;
          background-color: transparent;
          position: relative;

          .qr {
            flex-direction: column;
            align-items: center;
            gap: 0.25rem;
            position: absolute;
            top: -11rem;
            right: 2rem;
            padding: 0.5rem 1rem 1rem;
            background-color: rgb(var(--primary-color));
            border-radius: 1rem;
            z-index: 3;
            border: .0625rem solid #707070;

            span {
              font-size: 1.5rem;
              font-weight: bold;
              color: rgb(var(--secondary-color));
            }

            img {
              width: 100%;
              max-width: 14rem;
              aspect-ratio: 1;
            }
          }

          .avatar {
            position: absolute;
            width: var(--avatar);
            aspect-ratio: 1/1.2;
            left: -5rem;
            bottom: -2.5rem;
            z-index: 3;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .inner {
            .body {
              gap: 4rem;
              justify-content: space-between;

              .section__details {
                padding-inline: calc(var(--avatar) - 6vw) 1rem;
                border: 0;

                .title {
                  font-size: 2.5rem;
                }

                .subtitle {
                  font-size: 2rem;
                  font-weight: bold;
                  font-style: italic;
                  margin-bottom: 1rem;
                }

                .description {
                  font-size: 1.5rem;
                }

                .author {
                  font-size: 1.5rem;
                  margin-top: 0.5rem;
                  margin-bottom: 1rem;
                }
              }

              .section__footer {
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-end;
                gap: 1rem;

                span {
                  font-style: italic;
                  font-size: 1.25rem;
                }

                .logos {
                  gap: 2rem;

                  img {
                    width: 12rem;
                    object-fit: contain;
                    height: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
