@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500;1,700&display=swap");

:root {
  --text-color: var(--text-color);
  --bg-btn-color: #ff4f1a;
  --bg-btn-color-hover: #d84315;
  --text-highlight-color:  #0c87ff;
  --primary-color: 0, 51, 102;   
  --input-error-color: #dc143c;
  --bg-border-color: #000;
  --form-container-border-color: #9B9898;
  --bg-input-border-color: #ccc; 
  --input-bg-disable-color: #f2f2f2;
  --input-border-color: #0056b3;
  --input-box-shadow: #0056b34d;
  --outer-section-color:  #ffffffb3;
  --outer-section-border-color: #707070;
  --btn-bg-disable-color: #808080;
  --btn-bg-enable-color: #003366; 
}


* {
  box-sizing: border-box;
  color: rgb(var(--primary-color));
  font-family: Roboto;
  transition: all 0.15s ease-in-out;
}

/* Start Style */
.OPT2A {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 2rem 1rem 1rem;
  max-width: 1440px;
  overflow: hidden;
  /* justify-content: flex-end; */
  /* padding-inline: 1rem; */
}

div {
  display: flex;
  flex-direction: inherit;
}

section {
  display: flex;
  width: 100%;
}

.outer__section {
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hashtag {
  display: flex;
  position: absolute;
  justify-content: center;
  top: -1.2rem;
  padding: 0.25rem 1rem;
  background-color: rgb(var(--primary-color));
  border-radius: 1rem;
  max-width: 15rem;
  width: 60%;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;
}

.hashtag span {
  font-size: clamp(1.25rem, 0.8929rem + 1.7857vw, 1.75rem);
  font-weight: bold;
  font-style: italic;
  color: rgb(var(--secondary-color));
}

.avatar {
  position: absolute;
  max-width: 15rem;
  width: 60%;
  left: -2rem;
  top: 6rem;
  z-index: 2;
}

.avatar img {
  width: 100%;
  object-fit: cover;
}

.inner__section {
  flex-direction: column;
  width: 100%;
  background: var(--bs-white) 0% 0% no-repeat padding-box;
  border-radius: 1rem;
  padding: 2rem 1rem 1rem;
}

.inner {
  height: 100%;
  gap: 0.75rem;
}

.form-container {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  border: .0625rem solid var(--form-container-border-color);
  background: var(--bs-white);
}

.form-container label {
  display: block;
  font-size: clamp(0.75rem, 0.6071rem + 0.7143vw, 0.95rem);
  font-weight: bold;
  margin: 0 0 0.25rem 0.5rem;
  color: var(--text-color);
}

.form-container input{
  display: block;
  width: 100%;
  padding: 0.25rem .5rem;
  font-size: .75rem;
  border: .0625rem solid var(--bg-input-border-color);
  border-radius: .0156rem;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}

input:disabled,
.grayed-out {
  background-color: var(--input-bg-disable-color);
  color: var(--bg-input-border-color);
  cursor: not-allowed;
}

input[type="text"]:focus,
input[type="email"]:focus {
  outline: none;
  border-color: var(--input-border-color);
  box-shadow: 0 0 .25rem var(--input-box-shadow);
}

/* Checkbox Group */
.checkbox-group {
  display: flex;
  margin-bottom: 0.5rem;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  margin: 0.25rem 0;
}

label[for="stayAnonymous"] {
  font-size: clamp(0.75rem, 0.6071rem + 0.7143vw, 0.95rem);
  font-weight: normal;
  margin: .2rem 0 0 0.25rem;
}

label.error {
  font-weight: initial;
  font-size: 0.75rem;
  color: var(--input-error-color);
}
/* Donate Button */

button:disabled {
  opacity: 0.7;
  pointer-events: none;
  background-color: var(--btn-bg-disable-color);
}

.btn-donate {
  width: 55%;
  float: inline-end;
  max-width: 15rem;
  background-color: var(--btn-bg-enable-color);
  color: var(--bs-white);
  border: none;
  padding: 0.4rem 1rem;
  font-size: clamp(0.75rem, 0.6071rem + 0.7143vw, 0.95rem);
  border-radius: 1rem;
  cursor: pointer;
  margin-left: 6.5rem;
}

.body {
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1.5rem;
  max-width: 40rem;
}

.section__details {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.section__details .title {
  font-size: clamp(1.4rem, 0.9714rem + 2.1429vw, 2rem);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 0.75rem;
}

.section__details .description {
  font-size: clamp(0.65rem, 0.4rem + 1.25vw, 1rem);
  /* display: block; */
  /* margin-left: 7rem; */
}

.section__details .author {
  align-items: flex-start;
  /* margin: 0 0 0.75rem 5rem; */
}

.section__details .author span{
  font-size: clamp(0.65rem, 0.4rem + 1.25vw, 1rem);
}

.section__details .author .name {
  font-weight: bold;
  border-bottom: .125rem solid rgb(var(--primary-color));
}

.section__details .description,
.section__details .author {
  align-self: flex-end;
  max-width: 100%;
  width: 60%;
}

.footer {
  flex-direction: row;
  justify-content: center;
  gap: 0.25rem;
  margin-bottom: 0.25rem;
}

.footer span {
  font-size: 0.6rem;
  font-style: italic;
  color: var(--bs-gray-600);
}

.footer .logos {
  flex-direction: row-reverse;
  gap: 0.5rem;
}

.footer img {
  max-width: 6rem;
  object-fit: contain;
  height: 100%;
}
/* End of Styles  */

/* Start Media Query */

@media screen and (min-width: 375px) {
  .inner__section {
    padding: 2rem 1.2rem 1rem;
  }

  .avatar {
    left: -1.2rem;
    top: 5.5rem;
    width: 55%;
  }

  /* .section__details .description, .author{
    margin-left: 8rem;
  } */

}

@media screen and (min-width: 425px) {
  .section__details .title{
    margin-bottom: 1rem;
  }
  
  .avatar {
    width: 52%;
  }
}

@media screen and (min-width: 768px) {
  
  .OPT2A {
    justify-content: flex-end;
    padding-inline: 1rem;
    padding-bottom: 0;
  }
  
  .outer__section {
    padding: 2.5rem 1.75rem 1.25rem;
    background-color: var(--outer-section-color);
    border: .0625rem solid var(--outer-section-border-color);
    border-radius: 1.5rem 1.5rem 0 0;
    justify-content: flex-end;
  }
  
  .hashtag {
    top: -1.5rem;
    max-width: 20rem;
    width: 30%;
    left: 42%;
  }

  .hashtag span {
    font-size: clamp(1.75rem, 0.6071rem + 2.381vw, 2.75rem);
  }
  
  .avatar {
    max-width: 37rem;
    width: 53%;
    aspect-ratio: 1/1.2;
    z-index: 2;
    left: -6rem;
    top: 2rem;
  }
  
  .inner__section {
    width: 90%;
    border-radius: 1.2rem;
    padding: 1rem 2rem;
  }
  
  .inner {
    gap: 0.5rem;
    align-items: flex-end;
  }
  
  .body {
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    max-width: 100%;
  }
  
  .section__details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .section__details .title {
    font-size: clamp(1.6rem, 1.1429rem + 0.9524vw, 2rem);
    text-align: start;
    width: 73%;
  }

  .section__details .title br{
    display: none;
  }
  
  .section__details .description {
    margin: 0;
    font-size: clamp(0.75rem, 0.35rem + 0.8333vw, 1.1rem);
  }
  
  .section__details .author {
    margin-top: 1rem;
    margin-left: 0;
  }

  .section__details .author span {
    font-size: clamp(0.75rem, 0.35rem + 0.8333vw, 1.1rem);
  }

  .section__details .description,
  .section__details .author {
    width: 73%;
  }

  .form-container label {
    font-size: clamp(0.8rem, 0.5714rem + 0.4762vw, 1rem);
  }

  .form-container {
    display: block;
    width: 80%;
  }

  .btn-donate {
    width: 60%;
    max-width: 15rem;
    font-size: clamp(0.65rem, 0.3643rem + 0.5952vw, 0.9rem);
    border-radius: 1rem;
  }

  .footer {
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
  }
  
  .footer span {
    font-size: clamp(0.75rem, 0.5786rem + 0.3571vw, 0.9rem);
  }
  
  .footer .logos {
    gap: 0.25rem;
  }
  
  .footer img {
    max-width: 8rem;
    width: 100%;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .avatar {
    left: -7.5rem;
    top: -4rem;
    width: 51%;
    /* display: none; */
  }

  .form-container {
    display: block;
    width: 50%;
  }

  .hashtag {
    top: -2rem;
  }

  .footer img {
    max-width: 10rem;
    width: 100%;
  }

}

@media screen and (min-width: 1440px) {
  .avatar {
    left: -5.5rem;
    top: -7.5rem;
    width: 60%;
  }

  .form-container {
    display: block;
    width: 40%;
  }

  .hashtag {
    top: -3rem;
  }

  label[for="stayAnonymous"] {
    margin-top: 0;
}

  .section__details .title, 
  .section__details .description, 
  .section__details .author {
      width: 65%;
  }

  .footer img {
    max-width: 14rem;
    width: 100%;
  }

}

/* End Media Query */

/* Start Modal Design*/
.custom-swal-popup {
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin: 0.25rem;
}

#swal2-html-container {
  margin: 0;
  border-radius: 1rem;
}

.outer__inner__section__swal {
  flex-direction: column;
}

.hashtag__swal {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -1.2rem;
  padding: 0.5rem 1rem;
  background-color: rgb(var(--primary-color));
  border-radius: 0.75rem;
  max-width: 12.5rem;
  width: 60%;
  left: 50%;
  transform: translate(-50%);
}

.hashtag__swal span {
  font-size: clamp(1.25rem, 0.8929rem + 1.7857vw, 1.75rem);
  font-weight: bold;
  font-style: italic;
  color: rgb(var(--secondary-color));
}

.body__swal {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 2.25rem 0.75rem 0;
}

.qr-section {
  flex-direction: column;
  align-items: center;
}

.qr-section img {
  max-width: 15rem;
  width: 65%;
}

.qr-section h4, .instruction-section h4 {
  font-size: clamp(1.2rem, 0.9429rem + 1.7857vw, 1.35rem);
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.qr-section p, .instruction-section p {
  font-size: clamp(0.6rem, 0.4929rem + 0.5357vw, 0.75rem);
  line-height: 1.5;
  margin-bottom: 0.5rem;
}

.instruction-section {
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.instruction-section .note {
  font-weight: bold;
}

.instruction-section .bank {
  color: var(--text-highlight-color);
  font-weight: bold;
}

.custom-swal-button {
  max-width: 6rem;
  width: 35%;
  background: var(--bg-btn-color);
  color: var(--bs-white);
  border: none;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  font-size: clamp(0.75rem, 0.6786rem + 0.3571vw, 0.85rem);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.6rem;
}

.custom-swal-button:hover {
  background: var(--bg-btn-color-hover)
}

.footer__swal {
  flex-direction: column;
  margin-top: 1rem;
}

.footer__swal span {
  font-size: 0.7rem;
  font-style: italic;
  color: var(--bs-gray-600);
}

.footer__swal .logos__swal {
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.footer__swal .logos__swal img {
  max-width: 18rem;
  width: 35%;
  object-fit: contain;
}

/* End Modal Design*/

/* Start Modal Design Media Query */
@media screen and (min-width: 425px) {
  .instruction-section p:nth-of-type(2) {
    padding-inline: clamp(1rem, 9vw, 5rem);
  }
}

@media screen and (min-width: 768px) {
  .custom-swal-popup {
    padding: 2.25rem 1.5rem 1.5rem;
    background-color: var(--outer-section-color);
    border: .0625rem solid var(--outer-section-border-color);
    position: relative;
    margin: 2rem 2rem 0 2rem;
  }
  
  #swal2-html-container {
    padding: 0;
  }
  
  .outer__inner__section__swal {
    background:   var(--bs-white) 0% 0% no-repeat padding-box;
    border-radius: 1.25rem;
    padding: 3rem 1.5rem 1rem;
  }
  
  .hashtag__swal {
    top: -1.9rem;
    left: 1.5rem;
    transform: none;
    max-width: 17rem;
    width: 100%;
  }

  .hashtag__swal span{
    font-size: clamp(2rem, 1.4286rem + 1.1905vw, 2.5rem);
  }

  .body__swal {
    flex-direction: row;
    justify-content: center;
    gap: clamp(0.5rem, 2vw, 2rem);
    margin: 0;
  }

  .instruction-section p:nth-of-type(2) {
    padding-inline: 0;
  }

  .instruction-section p {
    margin-top: 0.5rem ;
  }

  .qr-section h4, .instruction-section h4 {
    font-size: clamp(1.5rem, 0.9286rem + 1.1905vw, 2rem);
  }

  .qr-section p, .instruction-section p {
    font-size: clamp(0.75rem, 0.1786rem + 1.1905vw, 1.25rem);
  }

  .qr-section img {
    max-width: 15rem;
    width: 80%;
  }

  .custom-swal-button {
    font-size: clamp(0.85rem, 0.45rem + 0.8333vw, 1.2rem);
    border-radius: 0.5rem;
    max-width: 8rem;
    width: 30%;
  }
  
  .footer__swal {
    flex-direction: row;
    margin-top: 2rem;
  }
  
  .footer__swal span {
    font-size: clamp(0.7rem, 0.3571rem + 0.7143vw, 1rem);
    font-style: italic;
    margin-top: 0.75rem;
  }
  
  .footer__swal .logos__swal {
    justify-content: flex-start;
    gap: 0.25rem;
    margin-top: 0.5rem;
  }

  .footer__swal .logos__swal img {
    max-width: 8rem;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .hashtag__swal {
    top: -2.2rem;
  }

  .footer__swal {
    margin-top: 1.5rem;
  }

  .footer__swal .logos__swal img {
    max-width: 9rem;
    width: 100%;
  }
  
}

@media screen and (min-width: 1440px) {
  .hashtag__swal {
    top: -2.5rem;
  }


  .footer__swal {
    margin-top: 1.5rem;
  }

  .footer__swal .logos__swal img {
    max-width: 12rem;
    width: 100%;
  }
}

/* End Modal Design Media Query */

main {
  &.OPT2A.OPT2B {
    --primary-color: 255, 255, 255;
    --secondary-color: 26, 60, 93;
    max-width: 100%;
    padding: 0;
    section {
      justify-content: center;
      background-color: rgb(var(--secondary-color));

      .outer__section {
        max-width: 1440px;
        padding: 2rem;
        border-radius: 0;
        border: 0;
        background-color: transparent;

        .inner__section {
          width: 100%;
          background-color: transparent;
          position: relative;

          .qr {
            flex-direction: column;
            align-items: center;
            gap: 0.25rem;
            position: absolute;
            top: -11rem;
            right: 2rem;
            padding: 0.5rem 1rem 1rem;
            background-color: rgb(var(--primary-color));
            border-radius: 1rem;
            z-index: 3;
            border: .0625rem solid var(--outer-section-border-color);

            span {
              font-size: 1.5rem;
              font-weight: bold;
              color: rgb(var(--secondary-color));
            }

            img {
              width: 100%;
              max-width: 14rem;
              aspect-ratio: 1;
            }
          }

          .avatar {
            position: absolute;
            width: var(--avatar);
            aspect-ratio: 1/1.2;
            left: -5rem;
            bottom: -2.5rem;
            z-index: 3;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .inner {
            .body {
              gap: 4rem;
              justify-content: space-between;

              .section__details {
                padding-inline: calc(var(--avatar) - 6vw) 1rem;
                border: 0;

                .title {
                  font-size: 2.5rem;
                }

                .subtitle {
                  font-size: 2rem;
                  font-weight: bold;
                  font-style: italic;
                  margin-bottom: 1rem;
                }

                .description {
                  font-size: 1.5rem;
                }

                .author {
                  font-size: 1.5rem;
                  margin-top: 0.5rem;
                  margin-bottom: 1rem;
                }
              }

              .section__footer {
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-end;
                gap: 1rem;

                span {
                  font-style: italic;
                  font-size: 1.25rem;
                }

                .logos {
                  gap: 2rem;

                  img {
                    width: 12rem;
                    object-fit: contain;
                    height: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
