
@{
    ViewBag.Title = "Index2a";
}

@section styles {
    <link href="~/Content/home.css" rel="stylesheet" />
}

<main class="OPT2A">
    <section>
        <div class="outer__section">
            <div class="hashtag"><span>#Help Uragon</span></div>
            <div class="avatar">
                <img src="~/Content/images/OPT2A/avatar.png" alt="">
            </div>
            
            <div class="inner__section">
                <div class="inner">
                    <div class="body">
                        <div class="section__details">
                            <div class="title">Help us bring hope relief to typhoon survivors.</div>
                            <div class="description">Your donation provides essential supplies and support to those in urgent need. Together, we can make a difference.</div>
                            <div class="author">
                                <span>Vice Mayor</span>
                                <span class="name">Hector Loyola "Long Hair"</span>
                            </div>
                        </div>
                        <div class="section__qr">
                            <span>Scan to donate</span>
                            <div class="qr">
                                <img src="~/Content/images/OPT2A/mock-qr.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <span>Powered by</span>
                        <div class="logos">
                            <img src="~/Content/images/OPT2A/bastion-logo.png" alt="">
                            <img src="~/Content/images/OPT2A/omnipay-logo.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section scripts {

}