@{
    ViewBag.Title = "Donation";
}


@section styles {
    <!-- <link href="~/Content/home.css" rel="stylesheet" /> -->
    <style>
    * {
        box-sizing: border-box;
        color: rgb(var(--primary-color));
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100%;
        min-height: 100vh;
        /* max-width: 1440px; */

        & div {
        display: flex;
        flex-direction: inherit;
        }

        section {
        /* border: 1px solid; */

        &.img-template {
            background-image: url("/Content/images/img-template.jpeg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            /* img {
                width: 100%;
                object-fit: fill;
            } */
        }

        &.body {
            display: flex;
            flex-direction: column;
            padding: 2rem;
            padding-bottom: 1rem;
            justify-content: space-between;

            background-image: url("/Content/images/bg-template.png");
            background-size: cover;
            /* background-size: 100% 100%; */
            background-position: center;
            background-repeat: no-repeat;

            .content {
            gap: 2rem;
            align-items: center;

            .header {
                align-items: center;
                gap: 0.5rem;

                span {
                text-align: center;
                }

                .title {
                font-size: 1.5rem;
                font-weight: bold;
                }

                .subtitle {
                /* font-size: 1.25rem; */
                font-size: clamp(1rem, 0.7143rem + 0.5952vw, 1.25rem);
                }
            }

            .detail {
                align-items: center;
                gap: 3rem;

                span {
                font-size: clamp(0.75rem, 0.4643rem + 0.5952vw, 1rem);
                color: var(--secondary-color);
                text-align: center;
                }

                .qr {
                width: 100%;
                /* max-width: 16rem; */
                max-width: clamp(14rem, -2rem + 20vw, 16rem);
                aspect-ratio: 1;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

                img {
                    width: 100%;
                    height: 100%;
                }
                }
            }
            }

            footer {
            section {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                span {
                font-size: 0.75rem;
                color: var(--secondary-color);
                font-weight: bold;
                text-transform: uppercase;
                }
                .logo {
                flex-direction: row;
                gap: 2rem;

                img {
                    width: 100%;
                    max-width: 10rem;
                    object-fit: contain;
                }
                }
            }
            }
        }
        }
    }

    @media (max-width: 768px) {
        main {
        display: flex;

        section {
            &.img-template {
            display: none;
            }

            &.body {
            padding-top: 3rem;
            min-width: 100vw;

            .content {
                gap: clamp(1rem, 0.2857rem + 3.5714vw, 2rem);

                .detail {
                gap: clamp(1rem, 0.2857rem + 3.5714vw, 2rem);

                span {
                    max-width: 80ch;
                }

                .qr {
                    /* max-width: 12rem; */
                    max-width: clamp(10rem, 5.7143rem + 21.4286vw, 16rem);
                }
                }
            }

            footer {
                section {
                span {
                    font-size: clamp(0.625rem, 0.5357rem + 0.4464vw, 0.75rem);
                }

                .logo {
                    img {
                    max-width: clamp(7rem, 4.8571rem + 10.7143vw, 10rem);
                    }
                }
                }
            }
            }
        }
        }
    }
    </style>
}

<main>
    <section class="img-template">
    </section>
    <section class="body">
        <div class="content">
            <div class="header">
                <span class="title">#Help Uragon</span>
                <span class="subtitle">Fundraising to Support Typhoon Survivors</span>
            </div>
            <div class="detail">
                <span>
                    Join us in bringing hope and essential relief to those affected by the recent typhoon. Your donation will provide critical supplies like food, water, and shelter for families in urgent need. Together, we can rebuild lives and restore hope.
                </span>
                <div class="qr">
                    <img src="~/Content/images/samplePHQR.PNG" />
                </div>
            </div>
        </div>
        <footer>
            <section>
                <span>Powered By</span>
                <div class="logo">
                    <img src="~/Content/images/bastion-logo.png" alt="">
                    <img src="~/Content/images/omnipay-logo.png" alt="">
                </div>
            </section>
        </footer>
    </section>
</main>

@section scripts {

}