@{
    ViewBag.Title = "Donation";
}


@section styles {
  <link href="~/Content/home.css" rel="stylesheet" />
}

<main>
    <section class="img-template">
        <!-- <img src="~/Content/images/img-template.jpeg" /> -->
    </section>
    <section class="body">
        <div class="content">
            <div class="header">
                <span class="title">#Help Uragon</span>
                <span class="subtitle">Fundraising to Support Typhoon Survivors</span>
            </div>
            <div class="detail">
                <span>
                    Join us in bringing hope and essential relief to those affected by the recent typhoon. Your donation will provide critical supplies like food, water, and shelter for families in urgent need. Together, we can rebuild lives and restore hope.
                </span>
                <div class="qr">
                    <img src="~/Content/images/samplePHQR.PNG" />
                </div>
            </div>
        </div>
        <footer>
            <section>
                <span>Powered By</span>
                <div class="logo">
                    <img src="~/Content/images/bastion-logo.png" alt="">
                    <img src="~/Content/images/omnipay-logo.png" alt="">
                </div>
            </section>
        </footer>
    </section>
</main>

@section scripts {

}