@using System.Configuration;
@using donation.Models;

@{
    ViewBag.Title = "Help Bicol";
    string version = ConfigurationManager.AppSettings[AppSettingsKey.Version];
}

@section styles {
    <link href="~/Content/home.css?v=@version" rel="stylesheet" />
}

<main class="OPT2A">
    <section id="main-section">
        <div class="outer__section">
            <div class="hashtag">
                <span>#HelpUragon</span>
            </div>
            <!-- <div class="avatar">
                <img src="~/Content/images/OPT2A/avatar.png" alt="">
            </div> -->

            <div class="inner__section">
                <div class="avatar">
                    <img src="~/Content/images/OPT2A/avatar.png" alt="">
                </div>
                <div class="inner">
                    <div class="body">
                        <div class="section__details">
                            <div class="title">Help us bring hope relief to typhoon survivors.</div>
                            <div class="description">Your donation provides essential supplies and support to those in urgent need. Together, we can make a difference.</div>
                            <div class="author">
                                <span>Vice Mayor</span>
                                <span class="name">Hector Loyola "Long Hair"</span>
                            </div>
                        </div>
                        <div class="form-container">
                            @using (Html.BeginForm("SubmitDonorForm", "Home", FormMethod.Post, new { id = "donorForm", autocomplete = "on" }))
                            {
                                @Html.AntiForgeryToken()
                                <label for="Name">Donor Name</label>
                                <input type="text" id="Name" name="Name" minlength="3" maxlength="75" placeholder="Full Name" required autocomplete="on" aria-autocomplete="name"/>


                                <label for="Email">Email Address</label>
               
                                <input type="email" id="Email" name="Email" maxlength="30" placeholder="Email Address (Optional)" autocomplete="on" aria-autocomplete="email"/>
                              

                                <label for="ContactNumber">Contact Number</label>
                                <input type="tel" id="ContactNumber" name="ContactNumber" placeholder="+63 912 345 6789 (Optional)" autocomplete="on" aria-autocomplete="contactnumber" />
                            


                                <div class="checkbox-group">
                                    <input type="checkbox" id="stayAnonymous" />
                                    <label for="stayAnonymous">Stay anonymous</label>
                                </div>

                                <button type="button" id="btn-submit" class="btn-donate" disabled>Donate Now</button>
                            }
                        </div>
                        <!-- <div class="section__qr">
                            <span>Scan to donate</span>
                            <div class="qr">
                                <img src="~/Content/images/OPT2A/qr-code.png" alt="">
                            </div>
                        </div> -->
                    </div>
                    <div class="footer">
                        <span>Powered by</span>
                        <div class="logos">
                            <img src="~/Content/images/OPT2A/bastion-logo.png" alt="">
                            <img src="~/Content/images/OPT2A/omnipay-logo.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section scripts {
    <script src="~/Scripts/jquery-3.6.0.min.js?v=@version"></script>
    <script src="~/Scripts/jquery.validate.min.js?v=@version"></script>
    <script src="~/Scripts/jquery.inputmask.js?v=@version"></script>
    <script src="~/Scripts/home.js?v=@version"></script>
}
