
@{
    ViewBag.Title = "Index2b";
}

@section styles {
    <link href="~/Content/home.css" rel="stylesheet" />
}

<main class="OPT2A OPT2B">
  <section>
        <div class="outer__section">
            <div class="inner__section">
                <div class="qr">
                    <span>Scan to donate</span>
                    <img src="~/Content/images/OPT2A/mock-qr.png" alt="">
                </div>
                <div class="avatar">
                    <img src="~/Content/images/OPT2A/avatar.png" alt="">
                </div>
                <div class="inner">
                    <div class="body">
                        <div class="section__details">
                            <div class="subtitle">#Help Uragon</div>
                            <div class="title">"Help us bring hope relief to typhoon survivors."</div>
                            <div class="author">
                                <span>Vice Mayor</span>
                                <span class="name">Hector Loyola "Long Hair"</span>
                            </div>
                            <div class="description">Your donation provides essential supplies and support to those in urgent need. Together, we can make a difference.</div>
                        </div>
                        <div class="section__footer">
                            <span>Powered by</span>
                            <div class="logos">
                                <img src="~/Content/images/OPT2B/omnipay-logo-white.png" alt="">
                                <img src="~/Content/images/OPT2B/bastion-logo-white.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section scripts {

}