@{
    ViewBag.Title = "Help Bicol";
}

@section styles {
    <link href="~/Content/home.css" rel="stylesheet" />
}

<main class="OPT2A">
    <section id="main-section">
        <div class="outer__section">
            <div class="hashtag">
                <span>#HelpUragon</span>
            </div>
            <!-- <div class="avatar">
                <img src="~/Content/images/OPT2A/avatar.png" alt="">
            </div> -->

            <div class="inner__section">
                <div class="avatar">
                    <img src="~/Content/images/OPT2A/avatar.png" alt="">
                </div>
                <div class="inner">
                    <div class="body">
                        <div class="section__details">
                            <div class="title">Help us bring hope relief to typhoon survivors.</div>
                            <div class="description">Your donation provides essential supplies and support to those in urgent need. Together, we can make a difference.</div>
                            <div class="author">
                                <span>Vice Mayor</span>
                                <span class="name">Hector Loyola "Long Hair"</span>
                            </div>
                        </div>

                        <div class="form-container"> 
                            <form>
                            @using (Html.BeginForm("SubmitDonorForm", "Home", FormMethod.Post, new { id = "donorForm" }))
                            {
                               <label for="Name">Donor Name</label>
                                <input type="text" id="Name" placeholder="Full Name (Optional)" />

                                <label for="Email">Email Address</label>
                                <input type="email" id="Email" placeholder="Email Address (Optional)" />

                                <label for="ContactNumber">Contact Number</label>
                                <input type="tel" id="ContactNumber" placeholder="09**-****-****" />

                                <div class="checkbox-group">
                                    <input type="checkbox" id="stayAnonymous" />
                                    <label for="stayAnonymous">Stay anonymous</label>
                                </div>

                                <button id="btn-submit" type="submit" class="btn-donate">Donate Now</button>
                            }    
                            </form>
                        </div>

                        @* <div class="section__qr">
                                <span>Scan to donate</span>
                                <div class="qr">
                                    <img src="~/Content/images/OPT2A/qr-code.png" alt="">
                                </div>
                            </div> *@
                    </div>
                    <div class="footer">
                        <span>Powered by</span>
                        <div class="logos">
                            <img src="~/Content/images/OPT2A/bastion-logo.png" alt="">
                            <img src="~/Content/images/OPT2A/omnipay-logo.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Scripts/home.js"></script>
}